@import 'theme';
.mt-30 {
    margin-top: 2rem;
}
#table-box {
    select {
        height: auto;
        display: block;
        min-width: 12.5rem;
    }
}

.table-group {
    display: inline-block;

    select {
        min-width: 3.75rem;
        height: 1.875rem;
    }
}

.column-item {
    display: block;
    width: auto;
    height: 3.125rem;
    line-height: 3.125rem;

    span {
        min-width: 30%;
        display: inline-block;
        text-align: center;
    }
}

.copy-panel {
    margin-top: 1.875rem;
    .panel-header {

        .dist-item,
        .table-item {
            position: relative;
            background-color: var(--#{$prefix}-panel);
            line-height: 1.875rem;
            padding: 0.3125rem 0.625rem;
            border-radius: 0.1875rem;
            cursor: pointer;

            .fa {
                position: absolute;
                right: -0.625rem;
                top: -0.5rem;
                background-color: var(--#{$prefix}-panel-color);
                color: var(--#{$prefix}-panel);
                border-radius: 50%;
                display: block;
                width: 1.25rem;
                height: 1.25rem;
                line-height: 1.25rem;
                text-align: center;
            }

            &:hover {
                background-color: var(--#{$prefix}-primary);
                color: var(--#{$prefix}-primary-text);
            }
        }
        .table-item {
            margin-right: 1.25rem;
        }
    }
    span[data-action="column-select"] {
        cursor: pointer;
    }
    .column-item {
        display: flex;
        i {
            font-style: normal;
            line-height: 3.125rem;
        }
    }
    .src-column,
    .dist-column {
        flex: 1;
        word-break: break-all;
    }
}


.dialog-select,
.dialog-column-select {
    display: none;
    position: fixed;
    background-color: rgba(var(--#{$prefix}-body-text-rgb), .2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .dialog-body {
        position: absolute;
        top: 40vh;
        left: 50vw;
        width: 18.75rem;
        margin-left: -9.375rem;
        background-color: var(--#{$prefix}-panel);

        select,
        button {
            height: 3.125rem;
            min-width: 5rem;
            border: none;
            outline: none;
        }
    }
}


@media (max-width: 48rem) {
    .tab-box {
        .tab-header {
            .tab-item {
                width: 32%;
            }
        }
    }
}